.x-datepicker-wrapper {
  position: relative;
}

.x-datepicker-icon {
  width: rem(20px);
  height: rem(20px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(24px);
}

.x-datepicker-arrow {
  width: rem(16px);
  height: rem(16px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(24px);
}

.x-datepicker {
  border: rem(1px) solid var(--color-blue-grey-100);
  height: rem(48px);
  border-radius: rem(100px);
  width: 100%;
  padding: rem(14px) rem(56px);
  @include caption-3;
  color: var(--color-blue-grey-10);
}

.flatpickr-calendar {
  padding: rem(20px) rem(24px);
  background: var(--color-transparent-1);
  border: rem(1px) solid var(--color-blue-grey-80) !important;
  border-radius: rem(16px);
  backdrop-filter: $blur;
  -webkit-backdrop-filter: $blur;
  box-shadow: none;
  &::before, &::after {
    display: none;
  }
}
.flatpickr-month {
  align-items: flex-start;
}
.flatpickr-current-month {
  width: 100%;
  left: 0;
  text-align: left;
  color: var(--color-white);
  @include heading-4;
  padding-top: 0 !important;
  margin-bottom: rem(16px);
}
.flatpickr-weekday {
  color: var(--color-blue-grey-50) !important;
  font-weight: 500 !important;
  font-size: rem(12px) !important;
  line-height: 120% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.flatpickr-weekdays {
  height: rem(40px) !important;
  border-bottom: rem(1px) solid var(--color-blue-grey-80);
  margin-bottom: rem(16px) !important;
}

.flatpickr-rContainer {
  width: 100%;
}
.flatpickr-day  {
  color: var(--color-blue-grey-05);
  &:hover {
    background: var(--color-blue-grey-05);
    color: var(--color-blue-grey-100);
  }
  &.selected{
    background: var(--color-blue-grey-05) !important;
    color: var(--color-blue-grey-100);
    border: none;
    &:hover {
      background: var(--color-blue-grey-05) !important;
    }
  }
  &.today {
    background: rgba(236, 239, 241, 0.05);
    border: none;
  }
}
.nextMonthDay {
  color: var(--color-blue-grey-80) !important;
}
.prevMonthDay {
  color: var(--color-blue-grey-80) !important;
}

.flatpickr-monthDropdown-months {
  font-weight: 700 !important;
  padding-left: 0 !important;
  font-size: rem(20px) !important;
  color: var(--color-white);
  option {
    font-size: rem(20px) !important;
    background: var(--color-transparent-1) !important;
  }
}
.flatpickr-monthDropdown-months::-ms-expand {
  display: none !important;
}

.flatpickr-prev-month, .flatpickr-next-month {
  padding: 0 !important;
  @include flex-row-center;
  top: rem(16px) !important;
  width: rem(32px);
  height: rem(32px) !important;
  &:hover {
    svg {
      fill: var(--color-primary-60) !important;
    }
  }
}

.flatpickr-prev-month {
  left: initial !important;
  right: rem(60px) !important;
}
.flatpickr-next-month {
  right: rem(24px) !important;

}
.arrowUp, .arrowDown {
  display: none !important;
}
