@use "sass:map";

// Transparent color it's default color [60] with provided opacity percent 10% (0.1), 20% (0.2), etc
// E.g. "Primary/10% rgba(0, 139, 234, 0.1)" = Primary 60 with opacity 10%.
// ----------------------------------------------------------------------------------------------------
// We can't use rgba for adjust CSS variable opacity, in this case we should use sass variable from map.

$colors: (
        'primary': (

                '10':  #b0e0ff,
                '20':  #89d0ff,
                '30':  #62c0ff,
                '40':  #3ab0ff,
                '50':  #13a1ff,
                '60':  #008bea,
                '70':  #0079c9,
                '80':  #0065a8,
                '90':  #005086,
                '100': #003c65,
                '110': #002843,
                '010': rgba(0, 139, 234, 0.1),
                '020': rgba(0, 139, 234, 0.2)
        ),
        'secondary': (
                '10':  #f7e6b2,
                '20':  #f4da8c,
                '30':  #f0cd65,
                '40':  #ecc13f,
                '50':  #e8b418,
                '60':  #c39713,
                '70':  #a78111,
                '80':  #8b6c0e,
                '90':  #6f560b,
                '100': #544108,
                '110': #382b06,
        ),
        'blue-grey': (
                '05':  #eceff1,
                '10':  #d9dfe3,
                '20':  #b2bec7,
                '30':  #8c9eab,
                '40':  #677d8e,
                '50':  #596c7b,
                '60':  #4b5b68,
                '70':  #3d4a54,
                '80':  #2f3941,
                '90':  #283137,
                '100': #21282e,
                '110': #1a1f24,
                '120': #13171a,
                '130': #101416,
        ),
        'red': (
                '05': #ffeaee,
                '10': #ffccd1,
                '20': #f49797,
                '30': #eb6e6f,
                '40': #f64a4a,
                '50': #fb362d,
                '60': #ec2b2d,
                '70': #da1e27,
                '80': #cd1320,
                '90': #bf0012,
        ),
        'pink': (
                '05': #fce4ec,
                '10': #f8bbd0,
                '20': #f48fb1,
                '30': #f06292,
                '40': #ec407a,
                '50': #e91e63,
                '60': #d81b60,
                '70': #c2185b,
                '80': #ad1457,
                '90': #880e4f,
        ),
        'purple': (
                '05': #f3e5f5,
                '10': #e1bee7,
                '20': #ce93d8,
                '30': #ba68c8,
                '40': #ab47bc,
                '50': #9c27b0,
                '60': #8e24aa,
                '70': #7b1fa2,
                '80': #6a1b9a,
                '90': #4a148c,
        ),
        'deep-blue': (
                '05': #ede7f6,
                '10': #d1c4e9,
                '20': #b39ddb,
                '30': #9575cd,
                '40': #7e57c2,
                '50': #673ab7,
                '60': #5e35b1,
                '70': #512da8,
                '80': #4527a0,
                '90': #311b92,
        ),
        'indigo': (
                '05': #e8eaf6,
                '10': #c5cae9,
                '20': #9fa8da,
                '30': #7986cb,
                '40': #5c6bc0,
                '50': #3f51b5,
                '60': #3949ab,
                '70': #303f9f,
                '80': #283593,
                '90': #1a237e,
        ),
        'cyan': (
                '05': #e0f7fa,
                '10': #b2ebf2,
                '20': #80deea,
                '30': #4dd0e1,
                '40': #26c6da,
                '50': #00bcd4,
                '60': #00acc1,
                '70': #0097a7,
                '80': #00838f,
                '90': #006064,
        ),
        'teal': (
                '05': #e0f2f1,
                '10': #b2dfdb,
                '20': #80cbc4,
                '30': #4db6ac,
                '40': #26a69a,
                '50': #009688,
                '60': #00897b,
                '70': #00796b,
                '80': #00695c,
                '90': #004d40,
        ),
        'green': (
                '05': #e8f5e9,
                '10': #c8e6c9,
                '20': #a5d6a7,
                '30': #81c784,
                '40': #66bb6a,
                '50': #4caf50,
                '60': #43a047,
                '70': #388e3c,
                '80': #2e7d32,
                '90': #1b5e20,
        ),
        'light-green': (
                '05': #f1f8e9,
                '10': #dcedc8,
                '20': #c5e1a5,
                '30': #aed581,
                '40': #9ccc65,
                '50': #8bc34a,
                '60': #7cb342,
                '70': #689f38,
                '80': #558b2f,
                '90': #33691e,
        ),
        'lime': (
                '05': #f9fbe7,
                '10': #f0f4c3,
                '20': #e6ee9c,
                '30': #dce775,
                '40': #d4e157,
                '50': #cddc39,
                '60': #c0ca33,
                '70': #afb42b,
                '80': #9e9d24,
                '90': #827717,
        ),
        'yellow': (
                '05': #fffde7,
                '10': #fff9c4,
                '20': #fff59d,
                '30': #fff176,
                '40': #ffee58,
                '50': #ffeb3b,
                '60': #fdd835,
                '70': #fbc02d,
                '80': #f9a825,
                '90': #f57f17,
        ),
        'amber': (
                '05': #fff8e1,
                '10': #ffecb3,
                '20': #ffe082,
                '30': #ffd54f,
                '40': #ffca28,
                '50': #ffc107,
                '60': #ffb300,
                '70': #ffa000,
                '80': #ff8f00,
                '90': #ff6f00,
        ),
        'orange': (
                '05': #fff3e0,
                '10': #ffe0b2,
                '20': #ffcc80,
                '30': #ffb74d,
                '40': #ffa726,
                '50': #ff9800,
                '60': #fb8c00,
                '70': #f57c00,
                '80': #ef6c00,
                '90': #e65100,
        ),
        'transparent': (
                '1': rgba(26, 31, 36, 0.7), // blue-gray - 110
                '2': rgba(33, 40, 46, 0.7), // blue-gray - 100
                '3': rgba(40, 49, 55, 0.7), // blue-gray - 90
                '4': rgba(0, 0, 0, 0.4), // black
                '5': rgba(19, 23, 26, 0.7), // blue-gray - 120
        ),
);

:root {
  --color-white: #fff;
  --color-black: #000;

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}

