$huge-screen: rem(1744px);
$xxl-screen: rem(1624px);
$big-screen: rem(1330px);
$xl-screen: rem(1200px);
$lg-screen: rem(992px);
$md-screen: rem(768px);
$sm-screen: rem(576px);

$sidebar-width: rem(256px);
$header-height: rem(72px);
$sidebar-right-width: rem(384px);

$blur: blur(rem(40px));
