.x-arrows {
  display: flex;
  align-items: center;
  &__arrow {
    width: rem(48px);
    height: rem(48px);
    background: var(--color-blue-grey-90);
    border-radius: 50%;
    @include flex-row-center;
    margin-right: rem(8px);
    flex-shrink: 0;
    transition: .2s linear;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: var(--color-blue-grey-70);
    }
    &:active {
      background: var(--color-blue-grey-110);
    }
  }
  &--ml {
    margin-left: rem(24px);
  }
  &__icon {
    width: rem(24px);
    height: rem(24px);
    &--rotate {
      transform: rotate(180deg);
    }
  }
}
