.x-bottom-info {
  &__row {
    @include flex-row-between;
    margin-bottom: rem(16px);
    padding-bottom: rem(16px);
    border-bottom: 1px solid var(--color-blue-grey-80);

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__choose {
    margin-bottom: rem(4px);
  }

  &__param-cost {
    color: var(--color-blue-grey-20);
  }

  &__text {
    color: var(--color-blue-grey-30);
  }
}
