.x-cart {
  padding-top: rem(72px);
  position: relative;
  @media (max-width: $md-screen) {
    padding-top: rem(59px);
  }
  @media (max-width: $sm-screen) {
    padding-top: rem(48px);
  }
  &__main {
    height: 100%;
    padding: rem(48px) rem(136px) rem(48px) 0 ;
    &::before {
      content: '';
      background: var(--color-transparent-1);
      backdrop-filter: $blur;
      -webkit-backdrop-filter: $blur;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      width: 54.8%;
      z-index: -1;
      @media (max-width: $xxl-screen) {
        width: 62.8%;
      }
      @media (max-width: $xl-screen) {
        display: none;
      }
    }
    @media (max-width: $big-screen) {
      padding: rem(48px) rem(96px) rem(48px) 0;
    }
    @media (max-width: $xl-screen) {
      grid-column: 1/-1 !important;
      padding-right: 0;
      height: auto;
    }
  }
  &__title {
    margin-bottom: rem(40px);
    @media (max-width: $xxl-screen) {
      @include heading-1-1;
      margin: rem(32px) 0 rem(40px) 0;
    }
    @media (max-width: $sm-screen) {
      @include heading-2;
    }
    &--hidden {
      @media (max-width: $xl-screen) {
        display: none;
      }
    }
    &--show {
      display: none;
      @media (max-width: $xl-screen) {
        display: block;
      }
    }
  }
  &__payment {
    margin-bottom: rem(48px);
    @media (max-width: $sm-screen) {
      margin-bottom: rem(40px);
    }
  }
  &__contacts {
    padding: rem(24px);
    border: rem(1px) solid var(--color-blue-grey-40);
    border-radius: rem(16px);
    display: flex;
    align-items: center;
    margin-bottom: rem(24px);
    @media (max-width: $md-screen) {
      flex-direction: column;
      align-items: flex-start;
      border: 0;
      border-radius: 0;
      padding: 0;
    }
    &--bordered-sm {
      @media (max-width: $sm-screen) {
        padding-bottom: rem(24px);
        margin-bottom: rem(24px);
        border-bottom: rem(1px) solid var(--color-blue-grey-90);
      }
    }
  }
  &__label {
    color: var(--color-blue-grey-30);
    margin-bottom: rem(8px);
  }
  &__messengers {
    display: flex;
    align-items: center;

  }
  &__messenger-item {
    margin-right: rem(8px);
    &:last-child {
      margin-right: 0;
    }
  }
  &__messenger {
    flex-shrink: 0;
    margin-right: rem(24px);
    @media (max-width: $md-screen) {
      margin: 0 0 rem(24px) 0;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: rem(48px);
    @media (max-width: $md-screen) {
      border-top: rem(1px) solid var(--color-blue-grey-80);
      padding-top: rem(24px);
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 rem(24px) 0;
    }
  }
  &__box {
    width: 50%;
    margin-right: rem(24px);
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: $md-screen) {
      width: 100%;
      margin: 0 0 rem(24px) 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &--mb-sm {
      @media (max-width: $sm-screen) {
        margin-bottom: rem(16px);
      }
    }
  }
  &__contact {
    width: 100%;
  }
  &__bottom {
    border-top: rem(1px) solid var(--color-blue-grey-80);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16px) 0;
    @media (max-width: $md-screen) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 0;
      border-top: 0;
    }
  }
  &__total {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    @media (max-width: $md-screen) {
      margin-top: rem(16px);
      padding-top: rem(16px);
      border-top: rem(1px) solid var(--color-blue-grey-80);
      justify-content: space-between;
      width: 100%;
    }
  }
  &__cost {
    margin-left: rem(16px);
  }
  &__total-title {
    color: var(--color-blue-grey-40);
  }
  &__button {
    width: 100%;
  }
  &__items-wrapper {
    padding: rem(152px) 0 0 0;
    @media (max-width: $xl-screen) {
      grid-column: 1/-1 !important;
      order: -1;
      padding-top: 0;
    }

  }
  &__grid {
    @media (max-width: $xxl-screen) {
      grid-column-gap: rem(40px) !important;
    }
    @media (max-width: $sm-screen) {
      grid-template-columns: initial !important;
    }
  }
  &__more {
    margin-top: rem(24px);
    padding: rem(8px);
    display: none;
    @media (max-width: $xl-screen) {
      display: flex;
    }
  }
  &--reset {
    padding-top: 0;
  }
  &__apply {
    width: 100%;
    margin-top: rem(22px);
    @media (max-width: $md-screen) {
      margin-top: 0;
    }
  }

}
