.x-format-item {
  padding: rem(20px) rem(24px);
  border: 1px solid var(--color-blue-grey-80);
  border-radius: rem(16px);
  display: flex;
  align-items: center;
  &__icon {
    @include icon-size;
    margin-right: rem(24px);
    flex-shrink: 0;
  }
  &__title {
    margin-bottom: rem(4px);
    color: var(--color-blue-grey-50);
  }
  &__info {
    color: var(--color-white);
  }
}
