.x-sorting-toggle {
  height: rem(40px);
  display: flex;
  align-items: center;
  padding: rem(4px);
  background: var(--color-transparent-1);
  border: 1px solid var(--color-blue-grey-90);
  border-radius: rem(100px);
  &__icon {
    margin-right: rem(8px);
    color: var(--color-blue-grey-10);
    flex-shrink: 0;
    width: rem(16px);
    height: rem(16px);
  }
  &__tab {
    padding: rem(9px) rem(16px);
    color: var(--color-blue-grey-10);
    @include flex-row-center;
    transition: .2s linear;
    background: transparent;
    &:first-child {
      border-radius: rem(100px) 0 0 rem(100px);
    }
    &:last-child {
      border-radius: 0 rem(100px) rem(100px) 0;
    }
    &.active {
      background: rgba(236, 239, 241, 0.1);
    }
    &:hover {
      color: var(--color-white);
      background: var(--color-blue-grey-110);
    }
    &:active {
      background: rgba(236, 239, 241, 0.1);
      transform: scale(.95);
    }
    &--red {

      &:active, &.active {
        color: var(--color-red-40);
        background: rgba(236, 43, 45, 0.1);
        .x-sorting-toggle__icon {
          color: var(--color-red-40);
        }
      }
    }
    &--blue {
      &:active, &.active {
        color: var(--color-primary-60);
        background: rgba(0, 139, 234, 0.1);
        .x-sorting-toggle__icon {
          color: var(--color-primary-60);
        }
      }
    }
  }

}
