.x-scrolled {
  .ps-scrollbar-y-rail {
    border-radius: rem(30px);
    width: rem(6px);

    &:hover,
    &:focus,
    &.ps--clicking {
      border-radius: rem(30px);
      width: rem(6px);
      background-color: transparent !important;
      opacity: 1;
    }

    &:active,
    &:focus {
      background: rgba(var(--color-blue-grey-05), 0.05) !important;
    }
  }

  .ps-scrollbar-y {
    width: rem(6px) !important;
    border-radius: rem(30px) !important;
    background-color: var(--color-blue-grey-70) !important;
  }

  .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: var(--color-blue-grey-30) !important;
  }
  .ps-scrollbar-y-rail:active> .ps-scrollbar-y {
    background-color: var(--color-blue-grey-05) !important;
  }

}
