.x-blog {
  &__overhead {
    margin-bottom: rem(56px);
    @media (max-width: $sm-screen) {
      margin-bottom: rem(48px);
    }
    &--mb-medium {
      @media (max-width: $sm-screen) {
        margin-bottom: rem(40px);
      }
    }
  }
  &__last-guide {
    margin-bottom: rem(80px);
    @media (max-width: $sm-screen) {
      margin-bottom: rem(48px);
    }
  }
  &__wrapper {
    padding-bottom: rem(80px);

    @media (max-width: $sm-screen) {
      padding-bottom: rem(64px);
    }
  }
  &__breadcrumbs {
    margin-left: rem(152px);
    @media (max-width: $lg-screen) {
      margin: 0 0 rem(56px) 0;
    }
  }
  &__search {
    margin-bottom: rem(48px);
    display: none;
    @media (max-width: $xl-screen) {
      display: flex;
    }
    @media (max-width: $md-screen) {
      margin-bottom: rem(44px);
    }
    @media (max-width: $sm-screen) {
      margin-bottom: rem(24px);
    }
  }
  &__panel {
    margin-bottom: rem(64px);
    @media (max-width: $md-screen) {
      margin-bottom: rem(40px);
    }
  }
  &__desc {
    font-size: rem(24px);
    line-height: 160%;
    color: var(--color-blue-grey-20);

    @media (max-width: $md-screen) {
      @include large-160;
    }
    &--mb {
      margin-bottom: rem(64px);
      @media (max-width: $sm-screen) {
        margin-bottom: rem(40px);
      }
    }
  }
  &__title {
    margin-bottom: rem(40px);
    @media (max-width: $sm-screen) {
      margin-bottom: rem(24px);
      @include heading-3;
    }
  }
  &__subtitle {
    margin-bottom: rem(24px);
    @media (max-width: $sm-screen) {
      margin-bottom: rem(16px);
      @include heading-4;
    }
  }
  &__text {
    color: var(--color-blue-grey-20);
    @media (max-width: $sm-screen) {
      @include regular-160;
    }
  }
  &__container {
    margin-bottom: rem(40px);
  }
  &__list {
    margin-bottom: rem(64px);
  }
  &__img {
    border-radius: rem(16px);
    border: 1px solid var(--color-blue-grey-100);
    width: 100%;
    height: auto;
    margin-bottom: rem(64px);
    @media (max-width: $sm-screen) {
      margin-bottom: rem(40px);
    }
  }
  &__block {
    margin-bottom: rem(64px);
    @media (max-width: $sm-screen) {
      margin-bottom: rem(40px);
    }
  }
  &__name {
    @media (max-width: $md-screen) {
      margin-bottom: 0;
    }
  }
  &__grid {
    padding: 0 rem(45px);
    @media (max-width: $xxl-screen) {
      padding: 0;
    }
  }
}
